<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>SocialBrain</title>
    {% load static %}
    <link
      rel="icon"
      href="{% static 'images/Icon.png' %}"
      type="image/png"
    />
    <link
      rel="stylesheet"
      href="{% static 'styles/styles.css' %}"
    />
  </head>
  <body>
    <header>
      <nav class="chatbot-navigation">
        <!-- inline menu svg -->
        <svg
          id="header-hamburger-menu"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="#ffffff"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          role="button"
          focusable="true"
          aria-label="Expand to view menu options"
          tabindex="1"
        >
          <title id="hamburger-menu-titleID">Hamburger menu button</title>
          <desc id="hamburger-menu-descID">
            Icon representing a toggle for the navigation menu and agents for
            the site
          </desc>
          <line
            x1="3"
            y1="12"
            x2="21"
            y2="12"
          ></line>
          <line
            x1="3"
            y1="6"
            x2="21"
            y2="6"
          ></line>
          <line
            x1="3"
            y1="18"
            x2="21"
            y2="18"
          ></line>
        </svg>
        <!---->
        <!-- inline profile svg -->
        <div class="header-profile-wrapper">
          <svg
            id="header-profile-menu"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="#ffffff"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-user"
            role="button"
            focusable="true"
            aria-label="Expand to view profile options"
            tabindex="1"
          >
            <title id="user-profile-titleID">Profile dropdown menu</title>
            <desc id="user-profile-descID">
              Icon representing a dropdown for profile options
            </desc>
            <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
            <circle
              cx="12"
              cy="7"
              r="4"
            ></circle>
          </svg>
          <!---->
        </div>
      </nav>
    </header>

    <main></main>
  </body>
</html>
